<div class="container-fluid">
    <div class="row mt-4" *ngIf="quizes">
        <div class="col-md-6" *ngFor="let quiz of quizes">
       

<mat-card class="mt-4">
    

    <mat-card-header>
        <div mat-card-avatar class="avtar-image"></div>
        <mat-card-title>{{quiz.title}}</mat-card-title>
        <mat-card-subtitle>{{quiz.description}}</mat-card-subtitle>
      </mat-card-header>

      

      <div class="container">
        <button mat-stroked-button class="mx- mt-3 mb-3" color="primary">View</button>
        <button mat-stroked-button class="mx-1 mt-3 mb-3" color="primary" [routerLink]="['/user-dash/instructions/'+quiz.quiz_id]">Start</button>
        <button mat-stroked-button class="mx- mt-3 mb-3" color="primary">No.Of Questions:{{quiz.numberOfQuestions}}</button>
        <button mat-stroked-button class="mx-1 mt-3 mb-3" color="primary">No of Marks:{{quiz.maxMarks}}</button>
       
      </div>

</mat-card>


        </div>

        <div class="col-md-12" *ngIf="quizes.length == 0">
          <mat-card class="mt-4 text-center">
            <mat-card-content>
              <h1>Quiz is Not Available For This Category</h1>
            </mat-card-content>
          </mat-card>
        </div>
    </div>
</div>