<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 mt-4">
            <mat-card>
                <div class="text-center">
                    <img src="../../../assets/images/avatar-icon-vector.jpg" alt="">
                    <h1 class="mt-2">Profile</h1>
                    <!-- <p>farha</p> -->
                </div>
                <div class="">
                    <table class="table text-center table-bordered">
                        <tr>
                            <th>User Name</th>
                            <td>Farha</td>
                        </tr>
                        <tr>
                            <th>User Id</th>
                            <td>001</td>
                        </tr>
                        <tr>
                            <th>Phone No</th>
                            <td>8602590029</td>
                        </tr>
                        <tr>
                            <th>Active</th>
                            <td>True</td>
                        </tr>
                    </table>
                </div>
            </mat-card>

        </div>
    </div>
</div>