<mat-card class="mt-4 text-center">
    <h1 class="mt-4">Update Category</h1>
    <mat-card-content>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <form class="row" [formGroup]="updateCategoryForm" (ngSubmit)="updateCategoryData()">
                        <mat-form-field appearance="outline">
                            <mat-label>Category Id</mat-label>
                            <input type="text"  name="category_id" id="" matInput formControlName="category_id" >
                        </mat-form-field>

                        
                        <mat-form-field appearance="outline">
                            <mat-label>Category Title</mat-label>
                            <input type="text"  name="title" id="" matInput formControlName="title" >
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Description</mat-label>
                            <textarea type="text"  name="description" id="" matInput formControlName="description" rows="7"> </textarea>
                        </mat-form-field>

                        <div class="text-center">
                            <button mat-raised-button color="primary">Add Category</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>